* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  /* color: #263238; */
  background-color: #adabab;
}

.container {
  text-align: center;
  margin-top: 3rem;
}

.date_time {
  text-align:center;
  margin-top: 3rem;
}

.style {
  margin-top: 10rem;
  background-color: #ded1bf;
  padding: 34px 0 34px 0px;
  width: 83%;
  justify-content: center;
  font-family: auto;
  border: solid 1px #0b0808;
  margin-left: 5rem;
}

button {
  padding: 8px 2rem;
  border-radius: 1em;
  cursor: pointer;
}