.fetch_button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #2c0b8e;
  background: #7b7e6d;
  margin-top: 2em;
}
.fetch_button:hover {
  background: #fff;
  color: #2c0b8e
}